<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Employee</title>
</head>
<body>
<h1>Edit Employee</h1>
<p>
    <a href="/employee/list">List Employee</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/employee/edit}" th:object="${employeeForm}" method="post" enctype="multipart/form-data">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td>Birth Date:</td>
            <td><input type="text" placeholder="dd/mm/yyyy" th:field="*{dob}"/></td>
        </tr>
        <tr>
            <td>Address:</td>
            <td><input type="text" th:field="*{address}"></td>
        </tr>
        <tr>
            <td>Avatar:</td>
            <td><img width="150px" height="150px" th:src="@{'/i/' + ${employeeForm.avatar}}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="file" th:field="*{avatar}"></td>
        </tr>
        <tr>
            <td>Salary:</td>
            <td><input type="text" th:field="*{salary}"></td>
        </tr>
        <tr>
            <td>Department:</td>
            <td>
                <select name="department">
                    <option th:each="dep : ${departments}"
                            th:value="${dep.id}"
                            th:text="${dep.name}"
                            th:selected="(${dep.id} == *{department.id})">
                    </option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Update Employee"></td>
        </tr>
    </table>
</form>
</body>
</html>