<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product List</title>
    <link href="/styles/style.css" th:href="@{/styles/style.css}" rel="stylesheet">
    <style>
        .detail {
            display: block;
            width: 80px;
            height: 30px;
            background-color: blue;
            text-align: center;
            line-height: 30px;
            color: #fff;
            font-size: 18px;
            text-decoration: none;
        }
    </style>

</head>
<body>
<h1 class="title">Products List</h1>
<form th:action="@{search}">
    <input type="text" name="txtSearch" id="txtSearch">
    <input type="submit" th:value="Search">
</form>
<p><a href="/product/create">Create New Product</a></p>
<div>
    <div class="product-item">
        <table border="1px">
            <tr>
                <td>ID:</td>
                <td>Name:</td>
                <td>Price:</td>
                <td>Image:</td>
                <td>Detail</td>
            </tr>
            <th:block th:each="product:${products}">
                <tr>
                    <td th:text="${product.id}"></td>
                    <td th:text="${product.name}"></td>
                    <td th:text="${product.price}"></td>
                    <td><img width="150px" height="200px" th:src="@{'/i/' + ${product.image}}"></td>
                    <td><a class="detail" th:href="@{product-detail/__${product.id}__}">Detail</a></td>
                </tr>
            </th:block>
        </table>
    </div>
</div>

</body>

</html>